{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block body %}

<div class="comments">
    <table class="table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Username</th>
            <th>Date</th>
            <th>Text</th>
            <th>Image</th>
            <th>Changed</th>
        </tr>
        </thead>
        {% for feedback in data %}
        <tbody>
        <tr>
            <td>{{ feedback.email }}</td>
            <td>{{ feedback.username }}</td>
            <td>{{ feedback.date }}</td>
            <td>{{ feedback.text }}</td>
            <td><img src="{{ feedback.image }}"></td>
            <td>{{ feedback.changed }}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}