{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="comments">
        <table class="table">
            <thead>
            <tr>
                <th>Email</th>
                <th>Username</th>
                <th>Date</th>
                <th>Text</th>
                <th>Image</th>
                <th>Changed</th>
            </tr>
            </thead>
            {% for feedback in data %}
            <tbody>
            <tr>
                <td>{{ feedback.email }}</td>
                <td>{{ feedback.username }}</td>
                <td>{{ feedback.date }}</td>
                <td>{{ feedback.text }}</td>
                <td><img src="{{ feedback.image }}"></td>
                <td>{{ feedback.changed }}</td>
            </tr>
            </tbody>
            {% endfor %}
        </table>

    <br>


    <form class="form-horizontal" id="form-reviews" action="/home/index" method="post" enctype="multipart/form-data"
          accept-charset="UTF-8">

        <div class="form-group">
        <label for="demoUsername">Username</label>
            <input name="username" type="text" class="form-control" id="demoUsername" placeholder="Username">
    </div>

    <div class="form-group">
        <label for="demoEmail">Email</label>
        <input name="email" type="email" class="form-control" id="demoEmail" placeholder="Email">
    </div>

    <div class="form-group">
        <label for="demoText">Text</label>
        <input name="text" type="text" class="form-control" id="demoText" placeholder="Text">
    </div>

    <div class="form-group">
        <label for="demoFile">Upload image</label>
        <input name="image" type="file" id="demoFile" size="1000">
        <p class="help-block"></p>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>
{% endblock %}
